# Swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Backup files (Vim default extension is ~)
*~
*.bak

# Persistent undo
[._]*.un~

# Netrw directory history
.netrwhist
